.App {
  text-align: center;
}


.App-header {
  background-color: #202733;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.adviceBox {
  border-style: solid;
  border: #313A48;
  background-color: #313A48;
  border-radius: 15px;
  box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.100202);
  width: 540px;
  height: 364px;
  top: 223px;
  left: 450px;
  font-size: 28px;
  font-family: 'Manrope', sans-serif;
  list-style-type: none;
  padding: 20px;
}
@media only screen and (max-width: 600px) {
  .adviceBox {
    position: absolute;
    width: 343px;
    height: 347px;
    left: 84px;
    top: 120px;
    font-size: 20px;
  }
  
}
@media only screen and (max-width: 475px) {
  .adviceBox {
    position: absolute;
    width: 343px;
    height: 347px;
    left: 16px;
    top: 120px;

  }
}
  @media only screen and (max-width: 400px) {
    .adviceBox {
      position: absolute;
      width: 75%;
      height: 347px;
      left: 20px;
      top: 120px;
  
    }
}
.adviceText {
  font-size: 13px;
  color: #53FFAA;
  padding-top: 15px;;
  letter-spacing: 4.08571px;
  font-style: normal;
}

@media only screen and (max-width: 600px) {
  .adviceText {
   font-size: 10px;
  }
  
}
.advice {
  padding: 50px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  height: 90px;
  
}

.adviceButton {
  background-color: #53FFAA;
  border-radius: 50%;
  padding: 10px;
  border: none;

}
.adviceButton:hover{
  cursor: pointer;
  box-shadow: 0px 0px 30px #53ffaa;

}
hr {
  display: inline-block;
  width:35%;
  background-color:  #4F5D74;
  opacity: 0.3;

}
.lineText{
  height: 106px;
}