.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #202733;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.adviceBox {
  border-style: solid;
  border: #313A48;
  background-color: #313A48;
  border-radius: 15px;
  box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.100202);
  width: 540px;
  height: 364px;
  top: 223px;
  left: 450px;
  font-size: 28px;
  font-family: 'Manrope', sans-serif;
  list-style-type: none;
  padding: 20px;
}
.adviceText {
  font-size: 13px;
  color: #53FFAA;
  padding-top: 15px;;
  letter-spacing: 4.08571px;
  font-style: normal;
}
.advice {
  padding: 50px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  
}

.adviceButton {
  position: absolute;
  background-color: #53FFAA;
  border-radius: 50%;
  padding: 10px;
}
hr {display: inline-block;
  width:35%;
  background-color:  #4F5D74;
  opacity: 0.3;
  
}